#modal-window-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

#modal-window-img .background{
    width: 100%;
    height: 100%;
    background: #22252C88;
    backdrop-filter: blur(3px);
    cursor:pointer;
}

#modal-window-img .content{
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-16.5%, -17%);
	width: auto;
	height: auto;
	display: inline-flex;/*lo mismo que flex pero como boloque*/
	justify-content: center;
	align-items: center;
}

#modal-window-img .content img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px var(--color4);
}

[data-modal-window-img]{/*para todos tags que tienen atributo "data-modal-window-img"*/
	cursor: pointer;
}